<%- include('partials/header'); %>
<%- include('partials/nav'); %>

<body class="article-body">
    <div class="header" style="background-image:url('/images/law.jpg');">
        <div class="overlay"></div>
        <h1 class="white"> <%= article.name %></h1>
    </div>

    <div class="content">

      <div class="article">
        <% article.content.blocks.forEach(function (block){ %>
            <p> <%- block.data.text %> </p>
        <% }) %>
        <input type="hidden" id="articleID" value= <%= article._id %>>
      </div>

      <div class="comments-container">

        <p id="showComments">Show comments...</p>
            <div id="comments" class="hidden">
                <div class="comment" id="commentContainer">
                    <p class="user">Quinton Maisiri</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore temporibus cupiditate deleniti accusamus fugit suscipit quod! Eum officia deserunt veniam.</p>
                    <p class="date">28/03/2022</p>
                </div>    
            </div>
            <div class="comment-form">
                <textarea class="form-control" placeholder="Add Comment" id="commentInput" ></textarea>
                <button id="submitComment" class="btn btn-primary">comment</button>
            </div>
      </div>
    </div>

    <script src="/js/comment.js"></script>
</body>